.wrapper {
  @apply relative flex items-center justify-center shadow overflow-hidden text-white;
  position: relative;
  aspect-ratio: 16/9;

  .player {
    @apply absolute w-full h-full top-0 left-0;
    object-fit: contain;
    background: black;
  }

  .controls {
    @apply absolute text-xl w-20 h-20 flex items-center justify-center bg-primary opacity-90 transition-all duration-1000;
    border-radius: 50%;

    svg {
      width: 32px;
      height: 32px;
    }

    &.hide {
      @apply opacity-0;
    }

    .progressBarWrapper {
      @apply w-3/4 h-1.5 bg-gray-500 opacity-50 rounded overflow-hidden;

      .progressBar {
        @apply h-full bg-white;
      }
    }

    .timeControls {
      @apply flex items-center justify-center text-white text-sm gap-1;
    }
  }
}