.wrapper {
  @apply relative flex items-center justify-center shadow overflow-hidden text-white;
  position: relative;
  aspect-ratio: 16/9;

  .background {
    @apply absolute top-0 left-0 w-full h-full object-cover;
    filter: blur(20px) brightness(0.5);
    z-index: 1;
  }

  .player {
    @apply relative z-10;
    width: auto;
    height: 100%;
    object-fit: contain;
  }

  .controls {
    @apply absolute text-xl w-20 h-20 flex items-center justify-center bg-primary opacity-90 transition-all duration-1000;
    border-radius: 50%;
    z-index: 20;

    svg {
      width: 32px;
      height: 32px;
    }

    &.hide {
      @apply opacity-0;
    }

    .progressBarWrapper {
      @apply w-3/4 h-1.5 bg-gray-500 opacity-50 rounded overflow-hidden;

      .progressBar {
        @apply h-full bg-white;
      }
    }

    .timeControls {
      @apply flex items-center justify-center text-white text-sm gap-1;
    }
  }
}