.header {
  @apply w-full top-0 z-30 bg-[#6E919F] flex flex-wrap items-center justify-between py-4 px-12;

  > .logo {
    @apply h-full flex space-x-5;

    > img {
      width: 190px;
      height: 60px;
    }

    > div {
      @apply w-[3px] bg-white rounded-lg;
    }
  }

  > .ach_switcher {
    @apply flex items-center space-x-2 font-oswald text-4xl font-bold cursor-pointer;
  }

  > .profile {
    @apply flex items-center space-x-2 font-inter text-2xl;
  }

  & svg {
    width: 32px;
    height: 32px;
  }
}