.wrapper {
  @apply px-7 py-4 bg-white;

  > .content {
    @apply flex items-center justify-between space-x-9;

    input {
      @apply w-full cursor-pointer;
    }

    button {
      @apply px-[28px] py-[6px] bg-primary text-white text-xl font-medium text-nowrap;
    }
  }

  .progressContainer {
    position: relative;
    width: 100%;
  }

  .hoverTime {
    position: absolute;
    top: -30px; /* Adjust as needed */
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 0.875rem;
    white-space: nowrap;
    pointer-events: none;
  }
}
