.wrapper {
  @apply px-7 py-4 bg-white;

  > .content {
    @apply flex items-center justify-between space-x-9;

    input {
      @apply w-full cursor-pointer;
    }

    input[type="range"] {
      -webkit-appearance: none;
      appearance: none;
      width: 100%;
      cursor: pointer;
      outline: none;
    }

    input[type="range"] {
      background: #D4DEE3;
      border-radius: 16px;
    }

    input[type="range"]::-webkit-slider-runnable-track {
      height: 10px;
      background: #ccc;
      border-radius: 16px;
    }

    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      height: 10px;
      width: 10px;
      background-color: #fff;
      border-radius: 50%;
      border: 1px solid #4E5C62;
    }

    input[type="range"]::-webkit-slider-thumb {
      box-shadow: -407px 0 0 400px #4E5C62;
    }

    input[type="range"] {
      overflow: hidden;
      border-radius: 16px;
    }

    button {
      @apply px-[28px] py-[6px] bg-primary text-white text-xl font-medium text-nowrap;
    }
  }

  .progressContainer {
    position: relative;
    width: 100%;
  }

  .hoverTime {
    position: absolute;
    top: -30px; /* Adjust as needed */
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 0.875rem;
    white-space: nowrap;
    pointer-events: none;
  }
}
