.violations {
  @apply w-[60vw] 4xl:w-[65vw];

  .violation_item {
    @apply min-w-full flex items-center justify-between;

    & .info {
      @apply flex;

      & .photo {
        @apply relative h-full mr-7 cursor-pointer;

        img {
          @apply 4xl:w-[400px]
        }

        span {
          @apply absolute z-10 text-white flex items-center justify-center bg-black bg-opacity-50 opacity-0 transition-all duration-300;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;

          &:hover {
            @apply opacity-100;
          }
        }
      }

      & div {
        @apply font-inter text-lg xl:text-xl text-font 4xl:space-y-4;

        @screen 4xl {
          font-size: clamp(20px, 1.5vw, 32px);
        }

        p:nth-last-child(2) {
          @apply font-bold;
        }

        & .violation_name {
          @apply p-[10px] bg-[#6E919F] text-white text-lg xl:text-xl font-bold;

          @screen 4xl {
            font-size: clamp(20px, 1.5vw, 32px);
            padding: clamp(15px, 1.5vw, 25px);
          }
        }
      }
    }

    & .actions {
      @apply flex flex-col space-y-2;

      & button {
        @apply p-[10px] text-white text-lg xl:text-xl 4xl:p-[15px] font-medium;

        @screen 4xl {
          font-size: clamp(20px, 1.5vw, 32px);
          padding: clamp(15px, 1.5vw, 25px);
        }
      }
    }
  }
}