.violations {
  @apply w-[900px];
  //@apply flex flex-row overflow-scroll;
  //scroll-snap-type: x mandatory;

  .violation_item {
    @apply min-w-full flex items-center justify-between;

    & .info {
      @apply flex;

      & .photo {
        @apply relative mr-7 cursor-pointer;

        span {
          @apply absolute z-10 text-white flex items-center justify-center bg-black bg-opacity-50 opacity-0 transition-all duration-300;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;

          &:hover {
            @apply opacity-100;
          }
        }
      }

      & div {
        @apply font-inter text-xl text-font;

        p:nth-last-child(2) {
          @apply font-bold;
        }

        & .violation_name {
          @apply p-[10px] bg-[#6E919F] text-white font-bold;
        }
      }
    }

    & .actions {
      @apply flex flex-col space-y-2;

      & button {
        @apply p-[10px] text-white text-xl font-medium;
      }
    }
  }
}